[submodule "src/libraries/rejuvenation"]
	path = src/libraries/rejuvenation
	url = https://github.com/TNO/Rejuvenation-Ada.git
	branch = main
[submodule "src/tools/dependency_graph_extractor"]
	path = src/tools/dependency_graph_extractor
	url = https://github.com/TNO/Dependency_Graph_Extractor-Ada.git
	branch = main